:root {
    --primary-color: #2563eb;
    --dark-bg: #0f172a;
    --light-bg: #f8fafc;
    --text-main: #1e293b;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

@media (max-width: 768px) {
  .modal-carousel button {
    color: var(--primary-color) !important;
  }
}



body {
    font-family: 'Inter', sans-serif; 
    line-height: 1.6;
    color: var(--text-main);
    scroll-behavior: smooth;
}



.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky; top: 0; z-index: 100;
}

.nav-links { display: flex; list-style: none; gap: 2rem; }
.nav-links a { text-decoration: none; color: var(--text-main); font-weight: 600; }




.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-bg);
    color: white;
    text-align: center;
}

.highlight { color: var(--primary-color); }

.btn {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

/* Projects Grid */
.projects { padding: 5rem 10%; background: var(--light-bg); }

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}



.timeline-dot {
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background-color: #3b82f6;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 8px #111827;
  animation: timelinePulse 2.2s infinite;
}

@keyframes timelinePulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 8px #111827, 0 0 0 0 rgba(59, 130, 246, 0.6);
  }
  70% {
    transform: scale(1.15);
    box-shadow: 0 0 0 8px #111827, 0 0 0 14px rgba(59, 130, 246, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 8px #111827, 0 0 0 0 rgba(59, 130, 246, 0);
  }
}


.contact-glow {
  box-shadow: 0 0 2px rgba(59, 130, 246, 0.5),
              0 0 5px rgba(59, 130, 246, 0.3),
              0 0 5px rgba(59, 130, 246, 0.2);
  transition: all 0.3s ease;
}

.contact-glow:hover {
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.8),
              0 0 30px rgba(59, 130, 246, 0.6),
              0 0 45px rgba(59, 130, 246, 0.4);
}

