:root {
    --primary-color: #2563eb;
    --dark-bg: #0f172a;
    --light-bg: #f8fafc;
    --text-main: #1e293b;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Inter', sans-serif; 
    line-height: 1.6;
    color: var(--text-main);
    scroll-behavior: smooth;
}



.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky; top: 0; z-index: 100;
}

.nav-links { display: flex; list-style: none; gap: 2rem; }
.nav-links a { text-decoration: none; color: var(--text-main); font-weight: 600; }




.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-bg);
    color: white;
    text-align: center;
}

.highlight { color: var(--primary-color); }

.btn {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

/* Projects Grid */
.projects { padding: 5rem 10%; background: var(--light-bg); }

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}